<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Node Express API | Add Student</title>
    </head>
    <body>
        <header>
            <% include ../partials/navbar %>
            <h1>Add a student</h1>
        </header>
        <form action="/api/v1.0/students" method="POST">
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" placeholder="your name" />
            </div>
            <br />
            <div class="form-group">
                <label for="country">Country: </label>
                <input type="text" id="country" name="country" placeholder="your country" />
            </div>
            <br />
            <div class="form-group">
                <label for="age">Age: </label>
                <input type="text" id="age" name="age" placeholder="your age" />
            </div>
            <br />
            <div class="form-group">
                <label for="bio">Bio: </label>
                <br />
                <textarea name="bio" id="bio"></textarea>
            </div>
            <br />
            <button type="submit">Add Student</button>
        </form>
    </body>
</html>
