<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Node Express API | API Page</title>
    </head>
    <body>
        <header>
            <% include ../partials/navbar %>
            <h1>API endpoint</h1>
        </header>
        <h1>This is the API Page</h1>
        <p>Please check it out and feel free to use it for Good. Happy Coding!</p>
        <a target="_blank" href="/api/v1.0/students">API endpoints</a>
    </body>
</html>
