<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../../public/css/style.css" />
        <title>Node Express API | Error</title>
    </head>
    <body>
        <header>
            <% include ../partials/navbar %>
            <h1>Opps! Error detected</h1>
        </header>
        <div>
            <p>The student with the id: "<%= id %>" was not found</p>
        </div>
    </body>
</html>
